version: "3"
services:
  nodejs:
    build: .
    restart: on-failure
    depends_on:
      - postgres
    volumes:
      - .:/home/root/app
    # ports:
    #   - 3333:3333
    environment:
      NODE_ENV: homologation
      PORT: 3333
      DATABASE_URL: postgresql://postgres:1234@postgres:5432/example-db?schema=public&connection_limit=400&pool_timeout=20

    networks:
      - backbone

  postgres:
    image: postgres
    restart: always
    command: postgres -c 'max_connections=500' -c 'log_error_verbosity=terse'
    environment:
      POSTGRES_DB: example-db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
    networks:
      - backbone
  nginx:
    image: nginx
    restart: always
    ports:
      - 80:80
    volumes:
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./public:/var/www
    networks:
      - backbone

networks:
  backbone:
    driver: bridge
